<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DistributedFileStorageTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <!--add type="DistributedFileStorageCommon.SoapCompressor, DistributedFileStorageCommon" priority="1" group="High"/-->
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <applicationSettings>
    <DistributedFileStorageTester.Properties.Settings>
      <setting name="DistributedFileStorageTester_DistributedStorageService_DistributedStorage"
          serializeAs="String">
        <value>http://localhost:49196/DistributedStorage.asmx</value>
      </setting>
    </DistributedFileStorageTester.Properties.Settings>
  </applicationSettings>
</configuration>