<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ServerSettings" type="DistributedFileStorageService.Handlers.ServerSettingsHandler, DistributedFileStorageService"/>
		<section name="RepositorySettings" type="DistributedFileStorageService.Handlers.RepositorySettingsHandler, DistributedFileStorageService"/>
	</configSections>
	<ServerSettings isController="True">
		<Storage>
			<RemoteServer Path="http://localhost:49196/" AccessMode="RW"/>
			<!--
      <RemoteServer Path="http://10.4.1.40/DFS/" AccessMode="RW" />
      <RemoteServer Path="http://10.4.1.41/DFS/" AccessMode="RW" />
      <RemoteServer Path="http://10.4.1.42/DFS/" AccessMode="RW" />
      -->
		</Storage>
	</ServerSettings>
	<RepositorySettings>
		<!--
    <DataStore Path="C:\FS\" AccessMode="RW" />
    -->
		<DataStore Path="~/DataStore/" AccessMode="RW"/>
	</RepositorySettings>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="DistributedFileStorageConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=DSFileStorage;User ID=dfsuser; Password=dfsuser#$; Integrated Security=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="2097151"/>
		<webServices>
			<soapExtensionTypes>
				<add type="DistributedFileStorageCommon.SoapCompressor, DistributedFileStorageCommon" priority="1" group="High"/>
			</soapExtensionTypes>
		</webServices>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<httpHandlers>
			<add verb="GET" path="GetFile.aspx" type="DistributedFileStorageService.Handlers.GetFile, DistributedFileStorageService" validate="false"/>
			<add verb="POST" path="PutFile.aspx" type="DistributedFileStorageService.Handlers.PutFile, DistributedFileStorageService" validate="false"/>
			<add verb="GET" path="DeleteFile.aspx" type="DistributedFileStorageService.Handlers.DeleteFile, DistributedFileStorageService" validate="false"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="GetFile" verb="GET" path="GetFile.aspx" type="DistributedFileStorageService.Handlers.GetFile, DistributedFileStorageService" resourceType="Unspecified" preCondition="integratedMode"/>
			<add name="PutFile" verb="POST" path="PutFile.aspx" type="DistributedFileStorageService.Handlers.PutFile, DistributedFileStorageService" resourceType="Unspecified" preCondition="integratedMode"/>
			<add name="DeleteFile" verb="GET" path="DeleteFile.aspx" type="DistributedFileStorageService.Handlers.DeleteFile, DistributedFileStorageService" resourceType="Unspecified" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
</configuration>
